body {
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
}


/*h1 {
    font-size: 1em;
}
*/
/*div#swines-remaining {
    font-size: 2em;
}
*/

/*div#game-state {
    font-size: 2em;
}*/

#swinemeeper {
    margin-left: auto;
    margin-right: auto;
}

#swines-remaining {
    float:left;
}

#game-state {
    float: right;
}

div#game-types {
    float: left;
}

div#timer-row {
    /* meh */
}

div#new-game-button-div {
    float: right;
}

span#game-type {
    padding-left: 5px;
    padding-right: 5px;
}
