body {
    font-family: Arial, sans-serif;
}

#swinemeeper {
/*    margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

#swines-remaining {
    float:left;
}

#game-state {
    float: right;
}
